@charset "utf-8";
header {
    background-color: blanchedalmond;
    background-image: url('../img/washi1.jpg'); 
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
}

body{
    background-color: peachpuff;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
}

.sidebar {
    width: 25%; 
    background-color: antiquewhite;
    padding: 10px;
    box-sizing: border-box; 
}
.kanji {
    color: red; 
}

.furigana {
    color: blue; 
}

.sidebar a {
    text-decoration: none; 
    color: green;
    transition: color 0.3s; 
}
.sidebar a:hover {
    color: pink; 
}

.explanation {
    color: brown;
}

ul.characters-list {
    list-style: none; 
    padding: 0;
    text-align: center; 
}
ul.characters-list li {
    margin: 10px 0;
    font-size: 18px; 
    font-weight: bold;
    color: #333;
    text-align: center;
}

ul.gods-list {
    list-style: none; 
    padding: 0;
}

ul.gods-list li {
    margin: 10px 0; 
    font-size: 18px; 
    font-weight: bold; 
    color: #333; 
}

.gods-list h2 {
    color: orange; 
}

.global-nav {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.global-nav li {
    display: inline;
}


.global-nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); 
}

.global-nav a:hover {
    background-color: rgba(0, 0, 0, 0.8); 
}
body#name {
    background-color: #f5f5f5;
    color: black;
}

.main-content a {
    text-decoration: none; 
    color: magenta; 
    transition: color 0.3s; 
}

.main-content a:hover {
    color: mediumslateblue;
}

footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
}



